<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<%-include public/header.ejs%>
<h2>你好ejs</h2>
</body>
</html>
