<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <h2>绑定数据</h2>
    <span><%=userinfo.username%>---<%=userinfo.age%></span>
    <p><%=article%></p>
    <p><%-article%></p>
    <h2>条件判断</h2>
    <%if(flag){%>
        <strong>flag=true</strong>
    <%}%>

    <%if(score>=60){%>
        <p>及格</p>
        <%}else{%>
        <p>不及格</p>
    <%}%>
    <h2>循环遍历</h2>
    <ul>
        <%for(var i=0;i<list.length;i++){%>
        <li><%=list[i]%></li>
        <%}%>
    </ul>
    <ul>
        <%for(var i=0;i<newList.length;i++){%>
        <li><%=newList[i].title%></li>
        <%}%>
    </ul>

    <%-include('footer.html')%>
</body>
</html>