<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>这是一个登录页面</h2>
    <h3><%=msg%></h3>
    <br>
    <ul>
        <%list.length>0&&list.forEach((item)=>{%>
        <li>
            <span><%=item.name%></span>
        </li>
        <%})%>
    </ul>
</body>
</html>